<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.espressif.esptouch.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".EspTouchApp"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning,LockedOrientationActivity"
        android:fullBackupContent="@xml/backup_descriptor">
        <activity
            android:name=".main.EspMainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.espressif.esptouch.android.v1.EspTouchActivity"
            android:exported="true"
            android:label="@string/esptouch1_title"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.espressif.esptouch.android.v2.EspTouch2Activity"
            android:exported="true"
            android:label="@string/esptouch2_title"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.espressif.esptouch.android.v2.EspProvisioningActivity"
            android:exported="true"
            android:label="@string/esptouch2_provisioning_title"
            android:screenOrientation="portrait" />
    </application>

</manifest>
